.hero {
  background: url('//bloomington.in.gov/alpha/themes/cob/images/home-photo1@1x.jpg') no-repeat $cob-gray-light 50% 50%;
  background-size: cover;
  color: #fff;
  padding: 2rem 0;

  .container {
    background: rgba(0, 0, 0, .4);
    padding-bottom: 2rem;
  }
  h1 {
  color: #fff;
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: (36rem/16);
    }
    p {
      font-size: (16rem/16);
      margin: 0 2.5rem;
    }
  }
}
.homepage {
    .module-search {
      margin: 2rem 0;
        .module-content {
            background-color: $cob-blue;
            .heading {
                color: #fff;
            }
        }
        .tags {
            background-color: $cob-blue-dark;
            h3 {
                color: #fff;
            }
        }
    }
    .hero {
      .module-search {
        margin: 2rem 2rem 0;
      }
    }
    @media screen and (min-width: 768px) {
      [role="main"] {
        padding-top: 0;
      }
    }
}
.odb-featured {
  &-link {
    box-sizing: border-box;
    display: block;
    padding: 1rem;
    &:hover {
      text-decoration: none;
    }
    &:before {
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom: 1px solid $cob-nightshade;
      content: '';
      display: block;
      height: 10rem;
      width: 100%;
    }
    &.odb-buses {
      &:before {
        background-image: url('../img/buses.jpg');
      }
    }
    &.odb-budget {
      &:before {
        background-image: url('../img/budget.jpg');
      }
    }
    &.odb-dashboard {
      &:before {
        background-image: url('../img/energy-dashboard.jpg');
      }
    }
    &.odb-crime {
      &:before {
        background-image: url('../img/crime.jpg');
      }
    }
  }
  &-title {
    background: #fff;
    color: $cob-blue;
    font-family: $font-headings;
    font-size: (16rem/16);
    font-weight: 500;
    line-height: 1.25em;
    padding: .125rem 0 .125rem .125rem;
    text-transform: uppercase;
  }
}
.span12 .odb-featured {
  @media screen and (min-width: 400px) {
    &-link {
      float: left;
      padding: 1rem 1rem;
      width: 50%;
    }
  }
  @media screen and (min-width: 768px) {
    &-link {
      width: 25%;
    }
  }
}
.odb-main-search {
  background-color: $cob-cornflower-darkest;
}
.odb-main-dark {
  background-color: $cob-gray-dark;
  h1 {
    color: #fff;
  }
}
