.odb-topic {
  &-image {

  }
  &-list {

  }
  &-link {
    display: inline-block;
    margin: 0 .5rem 2rem 0;
    text-align: center;
    width: (115rem/16);
    vertical-align: top;
  }
  &-title {
    display: block;
  }
  &-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
