@import '_variables';

// @import '_bootstrap-overrides';
// @import '_header-footer';
// @import '_home';
// @import '_tag';
// @import '_topic';

@mixin visuallyHidden() {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.container {
  max-width: 940px;
}

header {

  ul {
    list-style: none;
    list-style-type: none;
  }

  // the top-most header
  &:first-of-type {
    border-top: 8px solid #315da6;
    background-color: white;
    padding: 5px 0;

    a {

      // b-clear data logo
      &:nth-of-type(2) {
        border-left: 1px solid #bcc9d8;
        padding: 0 0 0 20px;
        margin: 0 0 0 10px;
      }
    }
  }

  // the middle header
  &:nth-of-type(2) {
    background: #143a7a;

    ul {
      li {
        a {
          border-left: 1px solid #00232e;
          display: block;
          color: #bfd7de;
          font-size: 13px;
          font-weight: bold;
          padding: 0 10px;
          line-height: 31px;
          float: right;

          &:hover,
          &:focus,
          &.active {
            background: darken(#143a7a, 5%);
          }
        }
      }
    }
  }

  // the bottom-most header
  &:nth-of-type(3) {
    padding: 15px 0;
    background: #315da6;

    nav {
      display: inline-block;
      float: right;
    }

    .nav-collapse {
      display: block;
    }

    .navbar-toggle {
      background-color: #143a7a;
      border: 1px solid #06204b;
      padding: 5px 10px;
      margin: 0;

      span {
        color: white;
      }
    }

    #nav-toggle {
      float: right;
      display: inline-block !important;
      padding: 0 !important;
    }

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 0 0 10px;

        &:first-of-type {
          margin: 0;
        }

        a {
          border-radius: 4px;
          transition: background-color .25s ease-in-out;
          padding: 10px 15px;
          color: white;
          text-decoration: none;

          &:hover {
            background-color: #4975ba;
          }
        }
      }
    }

    form {
      position: relative;
      display: inline-block;
      margin: 0 0 0 10px;

      label {
        @include visuallyHidden;
      }

      input {
        position: relative;
        width: 200px;
        height: 25px;
      }

      button {
        position: absolute;
        display: block;
        height: 17px;
        width: 17px;
        padding: 0;
        top: 50%;
        right: 10px;
        margin-top: -10px;
        background-color: transparent;
        border: none;
        color: #999;
        transition: color 0.2s ease-in;
      }
    }
  }
}

.homepage {
  background: #d7e5f4;
  font-family: Lato, "Helvetica Neue", Arial, sans-serif;

  h1 {
    text-align: center;
    font-size: 35px;
    line-height: 35px;
    font-weight: 300;
    color: white;
    margin: 0 0 30px 0;
    padding: 0;
  }

  h2 {
    text-align: center;
    font-size: 28px;
    line-height: 28px;
    font-weight: 300;
    color: white;
    margin: 0 0 30px 0;
    padding: 0;
  }

  h3 {
    text-align: center;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    color: white;
    margin: 0 0 30px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    margin: 0 0 15px 0;
  }

  .row {
    margin: 0;

    &:nth-of-type(2) {
      .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background: rgba(0,0,0,0.6);
        margin: 40px auto;
        padding: 40px 50px;

        form {
          position: relative;
          width: 330px;

          input {
            padding: 25px 20px;
            font-size: 20px;
            line-height: 20px;
          }

          button {
            position: absolute;
            display: block;
            height: 30px;
            width: 30px;
            padding: 0;
            top: 50%;
            right: 10px;
            margin-top: -15px;
            background-color: transparent;
            border: none;
            color: #999;
            transition: color 0.2s ease-in;

            i {
              font-size: 30px;
            }
          }
        }

        p {
          text-align: center;
          color: white;
        }

        > div {
          width: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;

          &:first-of-type {
            padding: 0 20px 0 0;
          }

          &:last-of-type {
            padding: 0 0 0 20px;

            a {
              font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
              padding: 10px 20px;
              background-color: #20ac59;
              border-bottom: 4px solid #83b685;
              border-radius: 4px;
              text-decoration: none;
              font-size: 22px;
              line-height: 22px;
              color: #fff;
            }
          }
        }
      }
    }

    &:nth-of-type(3) {
      padding: 40px 0 0 0;
      background: #eeeeee;

      .container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;

        a {
          position: relative;
          background: white;
          width: 200px;
          padding: 0;
          text-decoration: none;
          font-family: Lato,"Helvetica Neue",Arial,sans-serif;
          font-size: 14px;
          line-height: 14px;
          font-weight: 500;
          text-transform: uppercase;
          text-align: center;
          color: #315da6;


          &:hover {
            background: #315da6;
            color: white;
          }

          img {
            width: 200px;
            height: 150px;
          }

          span {
            display: block;
            padding: 10px 0;
            width: 100%;
            border-top: 2px solid #315da6;
          }
        }
      }
    }

    &:nth-of-type(4) {
      padding: 40px 0;
      background: #eeeeee;

      .container {
        display: flex;
        flex-wrap: wrap;
        background-color: #FFF;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: 0 0 0 4px rgba(0,0,0,0.05);
        padding: 20px;
        margin: 0 auto;

        h2 {
          width: 100%;
          text-align: left;
          color: #777;
        }

        a {
          flex: 1 0 13%;
          margin: 5px;
          height: 100px;

          &:hover {
            span {
              color: #0d4252;
            }
          }

          img {
            display: block;
            margin: 0 auto 10px auto;
          }

          span {
            color: #1e59ae;
            text-align: center;
            display: block;
          }
        }
      }
    }

    &:nth-of-type(5) {
      background: #8d98a5;
      padding: 40px 0;

      .container {

        a {
          font-family: 'PT Sans', 'Helvetica Neue', Arial, sans-serif;
          display: block;
          margin: 0 auto;
          padding: 10px 20px;
          width: 300px;
          background-color: #20ac59;
          border-bottom: 4px solid #83b685;
          border-radius: 4px;
          text-decoration: none;
          text-align: center;
          font-size: 22px;
          line-height: 22px;
          color: #fff;
        }
      }
    }
  }
}

.site-footer {
  background-color: #2a2e32;
  background-image: none;
}

.lang-select {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 479px) {

  header {
    &:nth-of-type(3) {
      form {
        display: none;
      }

      .nav-collapse {
        display: none;

        &.in {
          display: block !important;
        }
      }

      nav {
        position: relative;
        margin: 35px 0 0 0;
        z-index: 1;
        float: none;
        display: block;

        ul {
          width: 100%;

          li {
            border-bottom: 1px solid rgba(225,225,225,0.6);
            width: 100%;
            margin: 0;
            padding: 10px 0;

            &:first-of-type {
              padding: 0 0 10px 0;
            }

            &:last-of-type {
              border-bottom: none;
              padding: 10px 0 0 0;
            }

            a {
              display: block;
              width: 100%;
              margin: 0;
              padding: 0;

              &:hover {
                background: transparent;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .homepage {

    h1 {
      font-size: 28px;
      line-height: 40px;
    }

    h2 {
      font-size: 22px;
    }

    .row {
      &:nth-of-type(2) {
        .container {
          margin: 20px auto;
          padding: 20px;
          width: calc(100% - 40px);

          h3 {
            margin: 0 0 10px 0;
          }

          form {
            width: 100%;
            margin: 0 0 40px 0;
          }

          > div {
            width: 100%;

            &:first-of-type {
              padding: 0;
            }
          }
        }
      }

      &:nth-of-type(3) {
        .container {
          display: block;

          &:before {
            display: none;
          }

          a {
            display: block;
            margin: 0 auto 40px auto;

            &:last-of-type {
              margin: 0 auto;
            }
          }
        }
      }

      &:nth-of-type(4) {
        padding: 40px 20px;

        .container {
          a {
            flex: 1 0 40%;
          }
        }
      }
    }
  }

  .lang-container {
    display: none;
  }
}

@media screen and (min-width: 480px) and (max-width: 678px) {
  header {
    &:nth-of-type(3) {
      form {
        display: none;
      }

      .nav-collapse {
        display: none;

        &.in {
          display: block !important;
        }
      }

      nav {
        position: relative;
        margin: 35px 0 0 0;
        z-index: 1;
        float: none;
        display: block;

        ul {
          width: 100%;

          li {
            border-bottom: 1px solid rgba(225,225,225,0.6);
            width: 100%;
            margin: 0;
            padding: 10px 0;

            &:first-of-type {
              padding: 0 0 10px 0;
            }

            &:last-of-type {
              border-bottom: none;
              padding: 10px 0 0 0;
            }

            a {
              display: block;
              width: 100%;
              margin: 0;
              padding: 0;

              &:hover {
                background: transparent;
                margin: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }

  .homepage {

    h1 {
      font-size: 28px;
      line-height: 40px;
    }

    h2 {
      font-size: 22px;
    }

    .row {
      &:nth-of-type(2) {
        .container {
          margin: 20px auto;
          padding: 20px;
          width: calc(100% - 40px);

          h3 {
            margin: 0 0 10px 0;
          }

          form {
            width: 100%;
            margin: 0 0 40px 0;
          }

          > div {
            width: 100%;

            &:first-of-type {
              padding: 0;
            }
          }
        }
      }

      &:nth-of-type(3) {
        .container {
          // display: block;
          padding: 0 20px;

          &:before {
            display: none;
          }

          a {
            // display: inline-block;
            margin: 0 auto 40px auto;

            &:nth-of-type(2),
            &:nth-of-type(4) {
              // float: right;
            }

            &:nth-of-type(3),
            &:last-of-type {
              margin: 0 auto;
            }
          }
        }
      }

      &:nth-of-type(4) {
        padding: 40px 20px;

        .container {
          a {
            flex: 1 0 30%;
          }
        }
      }
    }
  }

  .lang-container {
    display: none;
  }
}

@media screen and (min-width: 679px) and (max-width: 990px) {
  header {
    &:nth-of-type(3) {
      form {
        display: none;
      }
    }
  }

  .homepage {
    .row {
      &:nth-of-type(2) {
        .container {
          margin: 20px auto;
          padding: 20px;
          width: calc(100% - 40px);

          h3 {
            margin: 0 0 10px 0;
          }

          form {
            width: 100%;
            margin: 0 0 40px 0;
          }

          > div {
            width: 100%;

            &:first-of-type {
              padding: 0;
            }
          }
        }
      }

      &:nth-of-type(3) {
        .container {
          padding: 0 20px;

          &:before {
            display: none;
          }

          a {
            margin: 0 auto 40px auto;

            &:last-of-type {
              margin: 0 auto;
            }
          }
        }
      }

      &:nth-of-type(4) {
        padding: 40px 20px;

        .container {
          a {
            flex: 1 0 20%;
          }
        }
      }
    }
  }

  .lang-container {
    display: none;
  }
}
