<div class="row">
  <div class="container">
    <h1>Your source for open data in Bloomington, Indiana</h1>

    <div>
      {% block search %}
        {% snippet 'home/snippets/search.html' %}
      {% endblock %}
    </div>

    <div>
      <p>We're opening the doors of City Hall. Let us know what information you'd like to see here.</p>
      <a href="https://docs.google.com/a/bloomington.in.gov/forms/d/1hovzNIwkegke9LH7rOMsm4dcbRpf1CyHgD4ev8bUN4Y/viewform">Suggest a dataset</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <a href="https://bloomington.doublemap.com/map/" target="_new">Real-time Bus GPS</a>
    <a href="http://transparency.tylertech.com/bloomington/Pages/" target="_new">City Finances</a>
    <a href="http://buildingdashboard.net/bloomington" target="_new">Energy Dashboard</a>
    <a href="http://raidsonline.com/?address=Bloomington,IN" target="_new">Crime Map</a>
  </div>
</div>

<div class="row">
  <div class="container">
    <h2>Browse by Topic</h2>
    {%- for topic in h.cob_theme_groups() %}
      <a href="/group/{{ topic.name }}">
        <img src="{{ topic.image_display_url or '/img/icons-document.svg' }}">
        <span>{{ topic.display_name }}</span>
      </a>
    {% endfor -%}
  </div>
</div>


<div class="row">
  <div class="container">
    <h2>Don't see what you're looking for?</h2>
    <a href="https://docs.google.com/a/bloomington.in.gov/forms/d/1hovzNIwkegke9LH7rOMsm4dcbRpf1CyHgD4ev8bUN4Y/viewform">Suggest a dataset</a>
  </div>
</div>